In [2]:
import re
import pandas as pd

In [3]:
f=open('WhatsApp Chat with E1 ELECTRICAL.txt','r',encoding='utf-8')

In [4]:
data=f.read()

In [5]:
# print(data)

In [6]:
pattern='\d{1,2}/\d{1,2}/\d{4},\s\d{1,2}:\d{2}\s[apm]{2}\s-\s'

In [7]:
messages=re.split(pattern,data)[1:]
len(messages)

1706

In [8]:
dates=re.findall(pattern,data)
len(dates)

1706

In [9]:
df=pd.DataFrame({'user_message':messages,'message_date':dates})
df['message_date']=pd.to_datetime(df['message_date'],format='%d/%m/%Y, %I:%M %p - ')

In [10]:
df.rename(columns={'message_date':'date'},inplace=True)
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. N... 2022-08-29 11:19:00
1   Divyanshbhatt created group "E1 ELECTRICAL ⚡⚡"\n 2022-08-29 11:18:00
2                                  Jagga added you\n 2022-08-29 11:19:00
3  Divyanshbhatt: Bhai apne naam likhdo hi likhke... 2022-08-29 11:20:00
4                        Jagga added Yatharth Garg\n 2022-08-29 11:20:00

In [11]:
df.shape

(1706, 2)

In [12]:
# separating users and messages
users=[]
messages=[]
for message in df['user_message']:
    entry=re.split('([\w\W]+?):\s',message)
    if entry[1:]:
        users.append(entry[1])
        messages.append(entry[2])
    else:
        users.append('group_notifications')
        messages.append(entry[0])
        
df['user'] = users
df['message']=messages
df.drop(columns=['user_message'],inplace=True)
df.head()

,date,user,message
0,2022-08-29 11:19:00,group_notifications,Messages and calls are end-to-end encrypted. N...
1,2022-08-29 11:18:00,group_notifications,"Divyanshbhatt created group ""E1 ELECTRICAL ⚡⚡""\n"
2,2022-08-29 11:19:00,group_notifications,Jagga added you\n
3,2022-08-29 11:20:00,Divyanshbhatt,Bhai apne naam likhdo hi likhke no. Save nhi h...
4,2022-08-29 11:20:00,group_notifications,Jagga added Yatharth Garg\n

In [13]:
df['year']=df['date'].dt.year

In [14]:
df['month']=df['date'].dt.month

In [15]:
df['day']=df['date'].dt.day

In [16]:
df['hour']=df['date'].dt.hour

In [17]:
df['minute']=df['date'].dt.minute

In [18]:
# df.drop(columns=['date'],inplace=True)

In [19]:
df.head(5)

,date,user,message,year,month,day,hour,minute
0,2022-08-29 11:19:00,group_notifications,Messages and calls are end-to-end encrypted. N...,2022,8,29,11,19
1,2022-08-29 11:18:00,group_notifications,"Divyanshbhatt created group ""E1 ELECTRICAL ⚡⚡""\n",2022,8,29,11,18
2,2022-08-29 11:19:00,group_notifications,Jagga added you\n,2022,8,29,11,19
3,2022-08-29 11:20:00,Divyanshbhatt,Bhai apne naam likhdo hi likhke no. Save nhi h...,2022,8,29,11,20
4,2022-08-29 11:20:00,group_notifications,Jagga added Yatharth Garg\n,2022,8,29,11,20

In [20]:
type(df[df['user']=='Jagga'].shape[0])

int

In [21]:
words=[]
for message in df['message']:
    words.extend(message.split())

In [22]:
len(words)

8761

In [23]:
type(len(words))

int

In [24]:
def fetch_stats(selected_user,df):
    if selected_user!='overall':
        df = df[df['user'] == selected_user]
    num_messages = df.shape[0]
    words = []
    for message in df['message']:
        words.extend(message.split())

    return [num_messages, len(words)]

In [25]:
[n,w]=fetch_stats('Jagga',df)

In [26]:
type(n)

int

In [27]:
user_list=df['user'].unique().tolist()

In [28]:
user_list

['group_notifications',
 'Divyanshbhatt',
 'Jagga',
 '+91 99569 66499',
 'Hunterbelt',
 'Shreyansh EE',
 '+91 88245 72846',
 'Anmol Bansal',
 'Chinmay EE',
 'Yatharth Garg',
 '+91 85280 00165',
 '+91 94622 55556',
 'Vasu',
 '+91 6375 167 116',
 'Bhavit.',
 '+91 70142 80014',
 '+91 6378 839 578',
 'Yogesh Saini',
 '+91 77280 94148',
 '+91 820 988 7727',
 '+91 89559 61367']

In [29]:
temp=df[df['user']!='group_notifications']
temp=temp[temp['message'] != '<Media omitted>\n']

In [30]:
# !pip install collection

In [31]:
f=open('hinglish.txt')

In [32]:
stopwords=f.read()

In [33]:
temp

,date,user,message,year,month,day,hour,minute
3,2022-08-29 11:20:00,Divyanshbhatt,Bhai apne naam likhdo hi likhke no. Save nhi h...,2022,8,29,11,20
12,2022-08-29 11:29:00,Jagga,@919929770849 betaa\n,2022,8,29,11,29
14,2022-08-29 11:29:00,+91 99569 66499,😂😂😂\n,2022,8,29,11,29
15,2022-08-29 11:29:00,Hunterbelt,😂😂😂\n,2022,8,29,11,29
18,2022-08-29 11:34:00,Divyanshbhatt,Madarchod tu ky kr rha yahn😂😂\n,2022,8,29,11,34
...,...,...,...,...,...,...,...,...
1700,2023-05-05 18:42:00,Bhavit.,Refer WIKIPEDIA 😌\n,2023,5,5,18,42
1701,2023-05-05 18:43:00,Divyanshbhatt,harpal dosen't refers this!!🙂\n,2023,5,5,18,43
1703,2023-05-16 16:16:00,Jagga,Epts ke marks\n,2023,5,16,16,16
1704,2023-05-16 18:02:00,Vasu,Kisike paas sawarna sir ka number hai?\n,2023,5,16,18,2
1705,2023-05-16 18:03:00,+91 88245 72846,95904 82722\n,2023,5,16,18,3

In [34]:
words=[]
for message in temp['message']:
    for word in message.lower().split():
        if word not in stopwords:
            words.append(word)

In [35]:
from collections import Counter
pd.DataFrame(Counter(words).most_common(20))

                0    1
0             lab  104
1             tut  100
2         message   69
3         deleted   65
4          cancel   49
5              +1   36
6            jana   32
7            dena   28
8             nss   27
9            yaar   24
10           bhej   24
11           file   24
12     assignment   24
13          jaana   22
14            jao   19
15         submit   19
16             😂😂   18
17  @919660556608   18
18           kya?   18
19            edc   17

In [36]:
# !pip install emoji==1.7

In [37]:
import emoji

In [38]:
# print(emoji.UNICODE_EMOJI)

In [39]:
emojis=[]
for message in df['message']:
    emojis.extend([c for c in message if c in emoji.UNICODE_EMOJI['en']])

In [40]:
df.head()

,date,user,message,year,month,day,hour,minute
0,2022-08-29 11:19:00,group_notifications,Messages and calls are end-to-end encrypted. N...,2022,8,29,11,19
1,2022-08-29 11:18:00,group_notifications,"Divyanshbhatt created group ""E1 ELECTRICAL ⚡⚡""\n",2022,8,29,11,18
2,2022-08-29 11:19:00,group_notifications,Jagga added you\n,2022,8,29,11,19
3,2022-08-29 11:20:00,Divyanshbhatt,Bhai apne naam likhdo hi likhke no. Save nhi h...,2022,8,29,11,20
4,2022-08-29 11:20:00,group_notifications,Jagga added Yatharth Garg\n,2022,8,29,11,20

In [42]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [44]:
df=df[df['user']=='Divyanshbhatt']

In [45]:
df.head

<bound method NDFrame.head of                     date           user  \
3    2022-08-29 11:20:00  Divyanshbhatt
18   2022-08-29 11:34:00  Divyanshbhatt
24   2022-08-29 11:42:00  Divyanshbhatt
25   2022-08-29 11:42:00  Divyanshbhatt
62   2022-08-29 13:21:00  Divyanshbhatt
...                  ...            ...
1682 2023-04-24 23:56:00  Divyanshbhatt
1689 2023-04-25 14:02:00  Divyanshbhatt
1690 2023-04-25 14:02:00  Divyanshbhatt
1699 2023-05-05 18:40:00  Divyanshbhatt
1701 2023-05-05 18:43:00  Divyanshbhatt

                                                message  year  month  day  \
3     Bhai apne naam likhdo hi likhke no. Save nhi h...  2022      8   29
18                      Madarchod tu ky kr rha yahn😂😂\n  2022      8   29
24                                     Nikal ke dikha\n  2022      8   29
25                                                 😂😂\n  2022      8   29
62    To tereko kya lal maarket kolkata chahiye tha ...  2022      8   29
...                                                 ...   ...    ...  ...
1682                       Likhwai to fir kya krenge?\n  2023      4   24
1689                                             Haan\n  2023      4   25
1690                                       On the way\n  2023      4   25
1699      stringing chart aur sag template bhejdo koi\n  2023      5    5
1701                    harpal dosen't refers this!!🙂\n  2023      5    5

      hour  minute
3       11      20
18      11      34
24      11      42
25      11      42
62      13      21
...    ...     ...
1682    23      56
1689    14       2
1690    14       2
1699    18      40
1701    18      43

[267 rows x 8 columns]>

In [46]:
df['message']

3       Bhai apne naam likhdo hi likhke no. Save nhi h...
18                        Madarchod tu ky kr rha yahn😂😂\n
24                                       Nikal ke dikha\n
25                                                   😂😂\n
62      To tereko kya lal maarket kolkata chahiye tha ...
                              ...
1682                         Likhwai to fir kya krenge?\n
1689                                               Haan\n
1690                                         On the way\n
1699        stringing chart aur sag template bhejdo koi\n
1701                      harpal dosen't refers this!!🙂\n
Name: message, Length: 267, dtype: object

In [85]:
analyzer=SentimentIntensityAnalyzer()
def get_sentiment(text):

    scores = analyzer.polarity_scores(text)

#     sentiment = 1 if scores['pos'] > 0 else 0
    sentiment = scores['compound']

    return sentiment




# apply get_sentiment function

df['sentiment'] = df['message'].apply(get_sentiment)

In [87]:
df[['user','message','sentiment']]

,user,message,sentiment
3,Divyanshbhatt,Bhai apne naam likhdo hi likhke no. Save nhi h...,0.25
18,Divyanshbhatt,Madarchod tu ky kr rha yahn😂😂\n,0.00
24,Divyanshbhatt,Nikal ke dikha\n,0.00
25,Divyanshbhatt,😂😂\n,0.00
62,Divyanshbhatt,To tereko kya lal maarket kolkata chahiye tha ...,0.00
...,...,...,...
1682,Divyanshbhatt,Likhwai to fir kya krenge?\n,0.00
1689,Divyanshbhatt,Haan\n,0.00
1690,Divyanshbhatt,On the way\n,0.00
1699,Divyanshbhatt,stringing chart aur sag template bhejdo koi\n,0.00
1701,Divyanshbhatt,harpal dosen't refers this!!🙂\n,0.00

In [88]:
ss

{'neg': 0.164, 'neu': 0.597, 'pos': 0.239, 'compound': 0.25}

In [ ]:
    sentences=df['message']
    sentiment_df=df[df['user']==selected_user]
    for sentence in sentences:
        # print(sentence)
        ss=sentiments.polarity_scores(sentence)
        for k in sorted(ss):
            sentiment_df.append(ss['compound'])
        # print()